.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  justify-content: center;
  align-items: center;

  margin-top: 10rem;
}

.container-input {
  margin-bottom: 1rem;
}

.container-input > input {
  padding: 12px 20px;
  font-size: 1rem;
  border-width: calc(var(--border-width) * 1px);
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  outline: transparent;
  width: 100%;
  transition: border-color calc(var(--transition, 0.2) * 1s) ease;
}

.card {
  border: 1px solid black;
  width: 250px;
  height: 350px;

  display: flex;
  flex-direction: column;
  background-color: #232323;
  border-radius: 10px;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-title {
  margin-left: auto;
  margin-right: auto;
}

.card-title > h3 {
  color: white;
}

.card-body {
  background-color: #616161;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 70%;
}

.card-stats {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.card-statsType {
  color: wheat;
  font-weight: bold;
  background-color: coral;
  padding: 5px;
  margin-right: 4px;

  border-radius: 5px;
}
